.App {
  background-color: #f3f3f3;
  height: 100vh;
  width: 100%;
}

.body-wrap {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  text-align: center;
  margin: auto;
  width: 500px;
  height: 100%;
}

.header {
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
}

.cancle { color: gray; cursor: pointer;}
.cancle:hover { text-decoration: underline; }








.login_container {
  transition: all 0.2s linear 0s;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background: white;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 20px;
}

.login_header {
  background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media(max-width:500px) {
  .body-wrap {
    width: 100%;
  }

  .sign-in-wrap {
    width: 100%;
  }
}
