.App {
  width: 100%;
  height: 100%;
}

.body-wrap {
  background-color: grey;
  text-align: center;
  margin: auto;
  width: 500px;
}

@media(max-width:500px) {
  .body-wrap {
    width: 100%;
  }
}
