.App {
  background-color: #f3f3f3;
  height: 100vh;
  width: 100%;
}

.body-wrap {
  background-color: grey;
  text-align: center;
  margin: auto;
  width: 500px;
}

.header {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

@media(max-width:500px) {
  .body-wrap {
    width: 100%;
  }
}
